@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  user-select: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: rgb(10, 10, 10);
  /* color: rgb(47, 164, 255); */
  /* color: #ffffff; */
}
.App h1 {
  text-align: center;
  font-size: 4em;
  font-weight: 100;
  color: rgb(255, 255, 255);
}

.buttons {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
  }
  .buttons button,
  .buttons button:focus,
  .buttons button:hover,
  .buttons button:active {
    border: 0px;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    font-size: 1em;
    font-weight: 500;
  }
.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .inputs input,
  .inputs input:active,
  .inputs input:focus {
    text-align: center;
  
    width: 200px;
    margin: 50px;
    justify-content: space-between;
    background-color: rgb(252, 254, 254);
    border: 0px;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
  }
  .text-center{
    text-align: center;
    border: 0px;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    font-size: 1.5em;
    border-radius:5px;
  }
  